:root {
    --primary-color: #F4C430;
    --secondary-color: #0B132B;
    --accent1-color: #F94144;
    --accent2-color: #3A86FF;
    --heading-font: 'Barlow Condensed', sans-serif;
    --text-font: 'Open Sans', sans-serif;

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 210px;
    left: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 16px;
    border-radius: 8px;
    max-width: 700px;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 18px;
}


h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;

}

header img {
    width: 120px;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px
}

nav a {
    display: block;
    text-decoration: none;
}

.history {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 30px 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.history h2 {
    grid-column: 1 / 4;
}

.history p {
    padding: 0;
    margin: 0;
}

.history img {
    width: 220px;
    height: auto;
    grid-column: 2 / 1 span;
    grid-row: 2 / 1 span;
    padding: 5px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
}

.adventure h2 {
    justify-self: center;
    grid-column: 1 / 6;
}



.adventure img {
    width: 150px;
    height: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

footer p {
    margin-left: 30%;
}

footer nav {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

footer img {
    width: 2em;
    height: 2em;
}