:root {
    --primary-color: #F4C430;
    --secondary-color: #0B132B;
    --accent1-color: #F94144;
    --accent2-color: #3A86FF;
    --heading-font: 'Barlow Condensed', sans-serif;
    --text-font: 'Open Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: #333333;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
}

header img {
    width: 120px;
    height: auto;
    padding: 1em 0;
}



header,
main,
footer {
    width: 840px;
    margin: 10px auto 5px auto;
}



h1,
h2 {
    font-family: var(--heading-font);
    color: #000000;
}

nav {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 20px
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.hero article {
    position: absolute;
    bottom: 230px;
    left: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 16px;
    border-radius: 8px;
    max-width: 700px;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 16px;
}


.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 1;
    background-color: var(--accent1-color);
    color: #000000;
    height: 1.7em;

}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}





.history {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 30px 1fr;
    justify-items: center;
    /* justify-content: center; */
    align-items: center;
}

.history h2 {
    grid-column: 1 / 4;
}

.history p {
    padding: 0;
    margin: 0;
}

.history img {
    width: 220px;
    height: auto;
    grid-column: 2 / 1 span;
    grid-row: 2 / 1 span;
    padding: 5px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
}

.adventure h2 {
    justify-self: center;
    grid-column: 1 / 6;
}



.adventure img {
    width: 150px;
    height: 100px;
}

footer {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 3fr 1fr;
    justify-items: end;
    height: auto;

}



footer p {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-self: center;
    color: var(--secondary-color);

}

footer nav {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    gap: 1rem;

}

footer img {
    width: 2em;
    height: 2em;
}




/* Contact */
.contact-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;

}

.contact-info h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    background-color: var(--accent1-color);
    height: 1.5em;
}

.contact-info p {
    grid-column: 1 / 2;
    color: var(--secondary-color);
}

.contact-info iframe {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    width: 100%;
    height: 100%;
    border: none;
}

.employees-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.employees {
    display: flex;
    grid-column: 1 / 2;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: 50%;

}

.employees h2 {
    width: 100%;
    height: 10%;


}

.employees figure {
    padding-bottom: 1em;
}

.employees img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    margin: 10px 10px;
}

.employees figcaption,
footer p {
    color: #333333;
}

.employees figcaption {
    margin-top: 8px;
    font-weight: bold;
    font-size: 12px;
    color: var(--secondary-color);
}

.employees p {
    width: 100%;
    color: var(--secondary-color);
}

/*Form*/
.contact-form {
    grid-column: 2 / 3;
    padding: 16px;
    background: var(--primary-color);
    margin: 5px;
    color: var(--secondary-color);
}

.contact-form form {
    display: grid;
    gap: 12px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 8px;
    border: 2px black;
    border-radius: 2px;

}



.contact-form label {
    font-weight: bold;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    justify-self: center;

}

.contact-form p {
    font-weight: bold;
    margin-left: 0;
}

.contact-form button:hover {
    background-color: var(--accent1-color);

}

/*Contact Footer*/
.wireframe {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 0;
}

footer a {
    color: var(--secondary-color);
    text-decoration: underline;
}

footer a:hover {
    color: var(--accent1-color);
    text-decoration: none;
}